<div id="header" class="appHeader">
    <div class="row nopad">
        <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs nopad" style="text-align: left;">
            <a href="https://themark.cop.net" target="_blank">
                <img src="img/cplogo_allwhite.png" />
            </a>
        </div>
        <div class="col-sm-6 col-lg-6" style="display: table; height: 70px; text-align: center; color: white; font-size: 26px; font-weight: 500;">
            <div style="display: table-cell; vertical-align: middle; text-align: center;">
                {{dto.AppSettings.COPApplName}}
                <h4><span class="label label-inverse" ng-show="dto.AppSettings.COPApplEnv!='Production'">{{dto.AppSettings.COPApplEnv}}</span></h4>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs nopad" style="text-align: right;">
            <a href="http://upstreamuk.conocophillips.net/EN/businesses/functions/IT/Pages/index.aspx" target="_blank">
                <img src="img/ITUKappsLogoWhite.png" />
            </a>
        </div>
    </div>
</div>
