body {
    /*font-family: Georgia, 'Times New Roman', serif;*/
    background: none;
    color: black;
    font-size:10pt;
}
#page {
    width: 100%;
    margin: 0; padding: 0;
    background: none;
}
#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer {
    display: none;
}
.entry a:after {
    content: " [" attr(href) "] ";
}
#printed-article {
    border: 1px solid #666;
    padding: 10px;
}

.no-print{
    display:none;
}

.th{
    background-color:silver;
}

.container{
    width: 100%;
    margin: 0;
    float: none;
}

#toast-container{
    display:none;
}

.page-break-before{
    page-break-before: always;
}

.comments{
    margin-top:2em;
    margin-right:2em;
    padding: 0.5em;
    border: 1px solid silver;
    height:450px;
}

.panel {
    border: none;
}
.panel-heading {
    border: none;
    padding: 0;
}
.panel-body {
    padding: 0;
}
.glyphicon {
    display: none;
}
/* Kendo grid print styles*/
.k-grid-pager , .commandHeader {
    display: none;   
}

table {
    width: 100%;
    font-size:10pt;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    text-align: left;
}
.k-grid-content {
    box-sizing: content-box;
}
.k-grid-header table, .k-grid-content table, .k-grid-footer table, .k-grid-content-locked > table {
    table-layout: fixed;
}

.k-grid-header {
    padding-right: 0 !important;
}
.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
}